/* variables */
/* colores header */
/* color footer */
/* color web inicio */
/* color web entradas */
/* colores web platos principales */
/* colores web postres */
/* colores web galeria */
/* Tipografia General */
/* inicio de Navber */
header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.77);
  /* Medias Query Mobil */
  /* Medias Query Tablet */
}
header .titulo h1 {
  font-family: "Pacifico", cursive;
  color: burlywood;
  padding-top: 5px;
}
header .logo h2 {
  font-weight: bold;
  color: linen;
  letter-spacing: 10px;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 40px;
  margin: 0;
}
header .mi-button {
  color: linen;
}
header .ul-mia {
  padding-top: 15PX;
  margin-left: auto;
}
header .ul-mia li a {
  width: max-content;
  font-size: 17px;
  color: linen;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header .ul-mia li a:hover {
  background-color: rgba(215, 198, 198, 0.311);
  border-radius: 10px;
  color: linen;
  transition: 1s;
}
@media screen and (max-width: 400px) {
  header .titulo h1 {
    font-family: "Pacifico", cursive;
    color: burlywood;
    padding-top: 10px;
  }
  header .logo h2 {
    font-weight: bold;
    color: linen;
    letter-spacing: 5px;
    font-size: 23px;
    padding: 0;
  }
  header .ul-mia {
    width: max-content;
    float: left;
  }
  header .ul-mia li a {
    color: linen;
  }
}
@media screen and (min-width: 401px) and (max-width: 960px) {
  header header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.77);
  }
  header .navbar {
    padding: 0;
    height: 45px;
  }
  header .titulo h1 {
    font-family: "Pacifico", cursive;
    color: burlywood;
    padding-top: 13px;
  }
  header .ul-mia {
    float: left;
    padding: 0;
  }
  header .ul-mia li a {
    font-size: 12px;
    color: linen;
  }
  header .ul-mia a:hover {
    background-color: rgba(215, 198, 198, 0.311);
    border-radius: 10px;
    color: linen;
    transition: 1s;
  }
  header .logo {
    height: 40px;
  }
  header .logo h2 {
    font-weight: bold;
    color: linen;
    letter-spacing: 5px;
    padding-top: 10px;
    font-size: 15px;
    height: 40px;
  }
}

.navbar-white {
  color: #dd1111;
}

/* fin de Navber */
/* Inicio de section pagina Home */
.container1 {
  padding-top: 250px;
  padding-bottom: 100px;
}

.container-web1 {
  display: flex;
}

.container-item {
  width: 100%;
  margin-left: 50px;
}

.video {
  width: 100%;
  height: auto;
  margin: auto;
}

.container-titulo-p {
  width: 100%;
  margin: auto;
  text-align: center;
}
.container-titulo-p h3 {
  margin: auto;
  text-align: center;
  color: burlywood;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 55px;
  width: 50%;
  transition: all 3s ease-in-out;
}
.container-titulo-p h3:hover {
  transform: rotatey(360deg);
}
.container-titulo-p p {
  text-align: justify;
  margin: auto;
  width: 70%;
  color: white;
  font-size: 17px;
}
.container-titulo-p p::first-letter {
  font-size: 40px;
  padding-right: 5px;
}

.contenidoweb1 {
  padding-top: 143px;
  text-align: center;
}
.contenidoweb1 h2 {
  color: burlywood;
  font-size: 60px;
  margin-bottom: 10px;
  text-decoration: underline;
  font-family: "Pacifico", cursive;
}

.h4subtitulo {
  font-size: 50px;
  color: burlywood;
  margin: 20px 20px;
  text-align: justify;
  padding-left: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.parrafo {
  color: white;
  text-align: justify;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  font-family: "Prompt", sans-serif;
}

.imagenweb1 {
  width: 60%;
  border-radius: 50px;
  height: 400px;
  margin: 40px 0px;
  object-fit: cover;
  box-shadow: 8px 10px 10px #909090;
}

/* Medias Query Mobil */
@media screen and (max-width: 400px) {
  .container1 {
    padding-top: 120px;
    padding-bottom: 15px;
  }

  .container-web1 {
    display: block;
  }

  .container-item {
    width: 90%;
    height: 200px;
    margin: auto;
    text-align: center;
  }
  .container-item .video {
    width: 90%;
    height: 200px;
    margin: auto;
  }

  .container-titulo-p {
    margin: 20px 0px;
    height: auto;
  }
  .container-titulo-p h3 {
    margin: auto;
    font-size: 35px;
    width: 60%;
  }
  .container-titulo-p p {
    margin: auto;
    font-size: 20px;
  }
  .container-titulo-p p::first-letter {
    font-size: 40px;
    padding-right: 5px;
  }

  .contenidoweb1 {
    padding-top: 0px;
  }
  .contenidoweb1 h2 {
    font-size: 45px;
    margin-bottom: 20px;
  }

  .imagenweb1 {
    width: 250px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .h4subtitulo {
    font-size: 30px;
    padding-top: 20px;
    text-align: left;
    padding-left: 30px;
    margin: 0;
  }

  .parrafo {
    font-size: 15px;
    margin: 0px 10px;
    padding: 10px 25px;
  }
}
/* Medias Query Tablet */
@media screen and (min-width: 401px) and (max-width: 960px) {
  .container1 {
    padding-top: 150px;
    padding-bottom: 30px;
  }

  .container-web1 {
    display: block;
  }

  .container-item {
    width: auto;
    margin: 0px 30px;
    padding: 0;
    text-align: center;
  }
  .container-item .video {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .container-titulo-p {
    padding-top: 0px;
    margin: 50px 0px;
  }
  .container-titulo-p h3 {
    margin: auto;
    font-size: 45px;
    width: 60%;
  }
  .container-titulo-p p {
    margin: auto;
    font-size: 20px;
  }
  .container-titulo-p p::first-letter {
    font-size: 40px;
    padding-right: 5px;
  }

  .contenidoweb1 {
    padding-top: 0px;
  }
  .contenidoweb1 h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .imagenweb1 {
    width: 50%;
    height: 330px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .h3subtitulo {
    font-size: 50px;
    margin: auto;
    text-align: left;
  }

  .parrafo {
    margin: auto;
    padding: 20px;
    font-size: 15px;
  }
}
/* Fin de section pagina Home */
/* inicio footer */
.contenedorfooter {
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.872);
  /* Medias Query Tablet */
}
.contenedorfooter .conteiner-columna {
  display: flex;
  justify-content: space-around;
}
.contenedorfooter .conteiner-columna .columna-1 {
  width: 100%;
  text-align: center;
}
.contenedorfooter .conteiner-columna .columna-1 h4 {
  font-size: 30px;
  text-decoration: underline;
  color: #f2e4e4;
}
.contenedorfooter .conteiner-columna .columna-1 .fila {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.contenedorfooter .conteiner-columna .columna-1 .fila img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.contenedorfooter .conteiner-columna .columna-1 .fila label {
  margin-left: 10px;
  color: #f5d4d4;
}
.contenedorfooter .conteiner-columna .columna-2 {
  width: 100%;
  text-align: center;
}
.contenedorfooter .conteiner-columna .columna-2 h4 {
  font-size: 30px;
  text-decoration: underline;
  color: #f2e4e4;
}
.contenedorfooter .conteiner-columna .columna-2 .fila2 p {
  margin-top: 25px;
  color: #f5d4d4;
  font-size: 20px;
}
.contenedorfooter .conteiner-columna .columna-3 {
  width: 100%;
  text-align: center;
}
.contenedorfooter .conteiner-columna .columna-3 h4 {
  font-size: 30px;
  text-decoration: underline;
  color: #f2e4e4;
}
.contenedorfooter .conteiner-columna .columna-3 .comentario {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  color: #f5d4d4;
}
@media screen and (max-width: 400px) {
  .contenedorfooter .conteiner-columna {
    display: block;
  }
  .contenedorfooter .conteiner-columna .columna-1 h4 {
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
  }
  .contenedorfooter .conteiner-columna .cont-fila {
    display: flex;
  }
  .contenedorfooter .conteiner-columna .fila label {
    display: none;
  }
  .contenedorfooter .conteiner-columna .fila img {
    margin-left: 10px;
    width: 25px;
    height: 25px;
  }
  .contenedorfooter .conteiner-columna .columna-2 h4 {
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
  }
  .contenedorfooter .conteiner-columna .columna-2 {
    width: 100%;
    padding-bottom: 5px;
    margin-top: 15px;
  }
  .contenedorfooter .conteiner-columna .columna-2 .fila2 p {
    margin: 2px 0px 10px 0px;
    color: #f5d4d4;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
  }
  .contenedorfooter .conteiner-columna .columna-3 {
    width: 100%;
  }
  .contenedorfooter .conteiner-columna .columna-3 .comentario {
    padding-left: 10px;
    text-align: left;
    color: #f5d4d4;
    font-size: 12px;
  }
  .contenedorfooter .conteiner-columna .columna-3 h4 {
    padding-left: 10px;
    font-size: 20px;
    text-align: left;
  }
}
@media screen and (min-width: 401px) and (max-width: 960px) {
  .contenedorfooter .conteiner-columna .columna-1 h4 {
    font-size: 20px;
  }
  .contenedorfooter .conteiner-columna .columna-1 .fila label {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
  }
  .contenedorfooter .conteiner-columna .columna-1 .fila img {
    width: 17px;
    height: 17px;
  }
  .contenedorfooter .conteiner-columna .columna-2 .fila2 p {
    font-size: 12px;
  }
  .contenedorfooter .conteiner-columna .columna-2 h4 {
    font-size: 20px;
  }
  .contenedorfooter .conteiner-columna .columna-3 .comentario {
    text-align: center;
    font-size: 10px;
  }
  .contenedorfooter .conteiner-columna .columna-3 h4 {
    font-size: 20px;
  }
}

/* fin de footer */
/* inicio de section entradas */
.sectionentradas {
  padding-top: 300px;
}
.sectionentradas img {
  width: 500px;
  height: 300px;
  border-radius: 50px;
}

.containerentrada {
  width: 100%;
  margin-bottom: 200px;
}
.containerentrada h2 {
  font-size: 50px;
  text-align: center;
  font-family: "Pacifico", cursive;
  color: burlywood;
}

.container-e-img-p-1-3-5 {
  display: flex;
  align-items: center;
}

.parrafoentradas-1-3-5 {
  color: rgba(242, 234, 234, 0.959);
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  margin-left: 15px;
  font-family: "Prompt", sans-serif;
  text-align: justify;
}

.container-e-img-p-2-4 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 30px;
}

.parrafoentradas-2-4 {
  font-weight: 600;
  border-radius: 10px;
  color: rgba(242, 234, 234, 0.959);
  padding: 10px;
  font-size: 15px;
  margin-right: 15px;
  font-family: "Prompt", sans-serif;
  text-align: justify;
}

/* Medias Query Mobil */
@media screen and (max-width: 400px) {
  .containerentrada {
    width: 100%;
    margin-bottom: 20px;
  }

  .sectionentradas {
    padding-top: 150px;
  }

  .sectionentradas img {
    width: 250px;
    height: 200px;
    border-radius: 50px;
    margin-bottom: 10px;
  }

  .container-e-img-p-1-3-5 {
    display: block;
    text-align: center;
  }

  .parrafoentradas-1-3-5 {
    margin-left: 0;
    padding: 10px;
  }

  .container-e-img-p-2-4 {
    display: block;
    text-align: center;
    margin: 0;
  }

  .parrafoentradas-2-4 {
    margin: 0;
    padding: 10px;
  }

  .containerentrada h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
  }
}
/* Medias Query Tablet */
@media screen and (min-width: 401px) and (max-width: 960px) {
  .sectionentradas {
    padding-top: 200px;
  }

  .sectionentradas img {
    width: 350px;
    height: 300px;
  }

  .containerentrada {
    width: 100%;
    margin-bottom: 100px;
  }

  .container-e-img-p-1-3-5 {
    margin: auto;
    display: block;
    width: 100%;
    border-radius: 10px;
  }

  .container-e-img-p-1-3-5 img {
    float: left;
    margin: 15px;
  }

  .parrafoentradas-1-3-5 {
    padding: 5px;
    margin: 15px;
  }

  .container-e-img-p-2-4 {
    display: block;
    width: 100%;
    margin: auto;
  }

  .container-e-img-p-2-4 img {
    float: right;
    margin: 15px;
  }

  .parrafoentradas-2-4 {
    margin: 15px;
    font-size: 17px;
    padding: 5px;
  }
}
/* Fin de Entradas */
/* link pagina platos principales */
.contenidoweb2 {
  padding-top: 200px;
}
.contenidoweb2 .cont-i-t-p {
  text-align: center;
}
.contenidoweb2 .imagenweb2 {
  width: 60%;
  border-radius: 50px;
  height: 450px;
  box-shadow: 8px 10px 10px #909090;
  object-fit: cover;
  margin: 40px 0px;
}
.contenidoweb2 .h3subtitulo {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  color: burlywood;
  margin: auto;
  text-align: center;
}
.contenidoweb2 .parrafo {
  color: white;
  margin-bottom: 50px;
  text-align: justify;
  margin: 0;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  padding-top: 20px;
  font-family: "Prompt", sans-serif;
}

/* Medias Query Mobil */
@media screen and (max-width: 400px) {
  .contenidoweb2 {
    padding-top: 100px;
  }
  .contenidoweb2 .imagenweb2 {
    width: 250px;
    border-radius: 30px;
    height: 200px;
    margin: 20px;
  }
  .contenidoweb2 .parrafo {
    font-size: 15px;
    padding-top: 0px;
  }
  .contenidoweb2 .h3subtitulo {
    font-size: 35px;
    margin: auto;
    padding-left: 0px;
    padding-top: 0px;
  }
}
/* Medias Query Tablet */
@media screen and (min-width: 401px) and (max-width: 960px) {
  .contenidoweb2 {
    padding-top: 150px;
  }
  .contenidoweb2 .imagenweb2 {
    border-radius: 30px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .contenidoweb2 .parrafo {
    font-size: 15px;
    padding-top: 0px;
  }
}
/* Fin de Plato princiapl */
/* Link pagina postres */
.sectionpostres {
  padding-top: 300px;
}
.sectionpostres img {
  width: 500px;
  height: 330px;
  border-radius: 50px;
}

.conteinerpostre {
  width: 100%;
  margin-bottom: 200px;
}
.conteinerpostre h2 {
  font-size: 50px;
  text-align: center;
  font-family: "Pacifico", cursive;
  color: burlywood;
}

.conteiner-img-p-1-3-5 {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.parrafopostres-1-3-5 {
  color: rgba(242, 234, 234, 0.959);
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  margin-left: 15px;
  font-family: "Prompt", sans-serif;
  text-align: justify;
}

.conteiner-img-p-2-4 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 30px;
}

.parrafopostres2-4 {
  color: rgba(242, 234, 234, 0.959);
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  margin-right: 15px;
  font-family: "Prompt", sans-serif;
}

/* Medias Query Mobil */
@media screen and (max-width: 400px) {
  .conteinerpostre {
    width: 100%;
    margin-bottom: 40px;
  }

  .sectionpostres {
    padding-top: 150px;
  }

  .sectionpostres img {
    width: 250px;
    height: 200px;
    border-radius: 50px;
    margin-bottom: 10px;
  }

  .conteiner-img-p-1-3-5 {
    display: block;
    text-align: center;
  }

  .parrafopostres-1-3-5 {
    margin-left: 0;
    padding: 10px;
    text-align: justify;
  }

  .conteiner-img-p-2-4 {
    display: block;
    text-align: center;
  }

  .parrafopostres2-4 {
    margin-right: 0;
    padding: 10px;
    text-align: justify;
  }

  .conteinerpostre h2 {
    font-size: 30px;
    text-align: center;
  }
}
/* Medias Query Tablet */
@media screen and (min-width: 401px) and (max-width: 896px) {
  .sectionpostres {
    padding-top: 200px;
  }

  .sectionpostres img {
    width: 350px;
    height: 300px;
  }

  .conteinerpostre {
    width: 100%;
    margin-bottom: 100px;
  }

  .conteiner-img-p-1-3-5 {
    margin: auto;
    display: block;
    width: 100%;
    border-radius: 10px;
  }

  .conteiner-img-p-1-3-5 img {
    float: left;
    margin: 15px;
  }

  .parrafopostres-1-3-5 {
    padding: 5px;
    font-size: 17px;
    margin: 15px;
    font-family: "Prompt", sans-serif;
  }

  .conteiner-img-p-2-4 {
    margin: auto;
    display: block;
    width: 100%;
    border-radius: 10px;
  }

  .conteiner-img-p-2-4 img {
    float: left;
    margin: 15px;
  }

  .parrafopostres2-4 {
    padding: 5px;
    font-size: 17px;
    margin: 15px;
  }
}
/* Fin de Postres */
/* Inicio de galeria */
.carousel {
  padding-top: 180px;
  padding-bottom: 70px;
}

.carousel-inner img {
  height: 70vh;
}

.carousel-caption h5 {
  font-size: 60px;
  color: #eeece9;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  padding-bottom: 20px;
  text-shadow: 5px 5px 8px black;
  text-decoration: underline;
}

.gallery {
  padding: 0;
  margin-bottom: 0;
}

.gallery--item {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}
.gallery--item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding-bottom: 100px;
  grid-auto-flow: dense;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
.container img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.titulo {
  text-align: center;
}
.titulo h2 {
  padding: 20px 0px;
  font-size: 60px;
  color: burlywood;
  font-family: "Pacifico", cursive;
}

/* Medias Query Mobil */
@media screen and (max-width: 400px) {
  .carousel {
    padding-top: 130px;
    padding-bottom: 20px;
  }

  .carousel-inner img {
    height: 55vh;
  }

  .titulo h2 {
    font-size: 30px;
  }

  .conteiner {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}
/* Medias Query Tablet */
@media screen and (min-width: 401px) and (max-width: 960px) {
  .carousel {
    padding-top: 180px;
    padding-bottom: 70px;
  }

  .carousel-caption h5 {
    font-size: 30px;
  }

  .carousel-inner img {
    height: 60vh;
  }

  .conteiner {
    grid-template-columns: repeat(2, minmax(50%, 1fr));
  }

  .titulo h2 {
    font-size: 50px;
  }

  .wide {
    grid-column: span 2;
  }

  .tall {
    grid-row: span 1;
  }
}
/* Fin de Galeria */
/* colores header */
/* color footer */
/* color web inicio */
/* color web entradas */
/* colores web platos principales */
/* colores web postres */
/* colores web galeria */
/* Tipografia General */
/* fonde de la pagina */
body {
  background-image: url(../Imagenes/fonfo3.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.capa {
  background-color: #282c34d2;
}

/* resetear los los bordes */
* {
  margin: 0px;
  padding: 0px;
}

/* centrar pagina web */
.wrapper {
  width: 95%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
