/* variables */
/* colores header */
/*  color footer */
/*  color web inicio */
/*  color web entradas */
/* colores web platos principales */
/* colores web postres */
/* colores web galeria */
/* inicio de Navber */
header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.77);
}
header .titulo h1 {
  font-family: "Pacifico", cursive;
  color: burlywood;
  padding-top: 5px;
}
header .logo h2 {
  font-weight: bold;
  color: linen;
  letter-spacing: 10px;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 40px;
}
header .mi-button {
  color: linen;
}
header .ul-mia {
  margin-left: auto;
}
header .ul-mia li a {
  width: max-content;
  font-size: 20px;
  color: linen;
}
header .ul-mia li a:hover {
  background-color: rgba(215, 198, 198, 0.311);
  border-radius: 10px;
  color: linen;
  transition: 1s;
}
@media screen and (max-width: 400px) {
  header .titulo h1 {
    font-family: "Pacifico", cursive;
    color: burlywood;
    padding-top: 10px;
  }
  header .logo h2 {
    font-weight: bold;
    color: linen;
    letter-spacing: 5px;
    font-size: 23px;
  }
  header .ul-mia {
    width: max-content;
    float: left;
  }
  header .ul-mia li a {
    font-size: 10px;
    color: linen;
  }
}
@media screen and (min-width: 401px) and (max-width: 960px) {
  header header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.77);
  }
  header .titulo h1 {
    font-family: "Pacifico", cursive;
    color: burlywood;
    padding-top: 13px;
  }
  header .ul-mia {
    width: max-content;
    float: left;
  }
  header .ul-mia li a {
    font-size: 15px;
    color: linen;
  }
  header .ul-mia a:hover {
    background-color: rgba(215, 198, 198, 0.311);
    border-radius: 10px;
    color: linen;
    transition: 1s;
  }
  header .logo h2 {
    font-weight: bold;
    color: linen;
    letter-spacing: 5px;
    padding-top: 15px;
    font-size: 15px;
    height: 40px;
  }
}

.navbar-white {
  color: white;
}

/* fin de Navber */
/* variables */
/* colores header */
/*  color footer */
/*  color web inicio */
/*  color web entradas */
/* colores web platos principales */
/* colores web postres */
/* colores web galeria */
/* Inicio de section pagina Home */
.container1 {
  padding-top: 250px;
  padding-bottom: 100px;
}

.container-web1 {
  display: flex;
}

.container-item {
  width: 100%;
  height: 650px;
  margin: 10px 0px 0px 50px;
}

.container-titulo-p {
  height: 100%;
  width: 100%;
  margin: 83.5px 0px;
  text-align: center;
}
.container-titulo-p h3 {
  margin: auto;
  color: #eb7a2e;
  font-family: initial;
  font-size: 65px;
  width: 50%;
  transition: all 3s ease-in-out;
}
.container-titulo-p h3:hover {
  transform: rotatey(360deg);
}
.container-titulo-p p {
  padding-top: 30px;
  margin: auto;
  width: 70%;
  color: white;
  font-size: 20px;
}
.container-titulo-p p::first-letter {
  font-size: 40px;
  padding-right: 5px;
}

.contenidoweb1 {
  padding-top: 143px;
  text-align: center;
}
.contenidoweb1 h2 {
  color: burlywood;
  font-size: 60px;
  margin-bottom: 10px;
  text-decoration: underline;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.h3subtitulo {
  font-size: 50px;
  color: #c7a37e;
  margin: 20px 20px;
  text-align: left;
  padding-left: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*  parrafo de imagenes  */
.parrafo {
  color: rgba(242, 234, 234, 0.959);
  text-align: left;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  font-family: "Prompt", sans-serif;
}

.imagenweb1 {
  width: 60%;
  border-radius: 50px;
  height: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 8px 10px 10px #909090;
}

@media screen and (max-width: 400px) {
  .container1 {
    padding-top: 150px;
    padding-bottom: 15px;
  }

  .container-web1 {
    display: block;
  }

  .container-item {
    width: 90%;
    height: 350px;
    margin: auto;
    text-align: center;
  }
  .container-item .video {
    width: 90%;
    height: 350px;
    margin: auto;
  }

  .container-titulo-p h3 {
    font-size: 35px;
    width: 60%;
  }
  .container-titulo-p p {
    margin: auto;
    text-align: left;
    font-size: 20px;
  }
  .container-titulo-p p::first-letter {
    font-size: 40px;
    padding-right: 5px;
  }

  .contenidoweb1 {
    padding-top: 0px;
  }
  .contenidoweb1 h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .imagenweb1 {
    width: 250px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .h3subtitulo {
    font-size: 30px;
    padding-top: 20px;
    text-align: left;
    padding-left: 35px;
    margin: 0;
  }

  .parrafo {
    text-align: left;
    font-size: 20px;
    padding-top: 10px;
  }
}
@media screen and (min-width: 401px) and (max-width: 960px) {
  .container1 {
    padding-top: 150px;
    padding-bottom: 30px;
  }

  .container-web1 {
    display: block;
  }

  .container-item {
    width: 90%;
    height: 470px;
    margin: auto;
    padding: 0;
    text-align: center;
  }
  .container-item .video {
    width: 90%;
    height: 470px;
    margin: auto;
  }

  .container-titulo-p {
    padding-top: 0px;
    margin: 50px 0px;
  }
  .container-titulo-p h3 {
    font-size: 45px;
    width: 60%;
  }
  .container-titulo-p p {
    margin: auto;
    text-align: left;
    font-size: 20px;
  }
  .container-titulo-p p::first-letter {
    font-size: 40px;
    padding-right: 5px;
  }

  .contenidoweb1 {
    padding-top: 0px;
  }
  .contenidoweb1 h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .h3subtitulo {
    font-size: 50px;
    margin: auto;
    text-align: left;
  }

  .parrafo {
    margin: auto;
    padding: 20px;
  }
}
/* Fin de section pagina Home */
/* variables */
/* colores header */
/*  color footer */
/*  color web inicio */
/*  color web entradas */
/* colores web platos principales */
/* colores web postres */
/* colores web galeria */
/* inicio footer */
.contenedorfooter {
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.872);
}
.contenedorfooter .conteiner-columna {
  display: flex;
  justify-content: space-around;
}
.contenedorfooter .conteiner-columna .columna-1 {
  width: 100%;
  text-align: center;
}
.contenedorfooter .conteiner-columna .columna-1 h4 {
  font-size: 30px;
  text-decoration: underline;
  color: #f2e4e4;
}
.contenedorfooter .conteiner-columna .columna-1 .fila {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.contenedorfooter .conteiner-columna .columna-1 .fila img {
  width: 30px;
  height: 30px;
}
.contenedorfooter .conteiner-columna .columna-1 .fila label {
  margin-left: 10px;
  color: #f5d4d4;
}
.contenedorfooter .conteiner-columna .columna-2 {
  width: 100%;
  text-align: center;
}
.contenedorfooter .conteiner-columna .columna-2 h4 {
  font-size: 30px;
  text-decoration: underline;
  color: #f2e4e4;
}
.contenedorfooter .conteiner-columna .columna-2 .fila2 p {
  margin-top: 25px;
  color: #f5d4d4;
  font-size: 20px;
}
.contenedorfooter .conteiner-columna .columna-3 {
  width: 100%;
  text-align: center;
}
.contenedorfooter .conteiner-columna .columna-3 h4 {
  font-size: 30px;
  text-decoration: underline;
  color: #f2e4e4;
}
.contenedorfooter .conteiner-columna .columna-3 .comentario {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  color: #f5d4d4;
}
@media screen and (max-width: 400px) {
  .contenedorfooter .conteiner-columna {
    display: block;
  }
  .contenedorfooter .conteiner-columna .columna-1 h4 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .contenedorfooter .conteiner-columna .cont-fila {
    display: flex;
    justify-content: space-around;
  }
  .contenedorfooter .conteiner-columna .fila label {
    display: none;
  }
  .contenedorfooter .conteiner-columna .fila img {
    width: 20px;
    height: 20px;
  }
  .contenedorfooter .conteiner-columna .columna-2 h4 {
    font-size: 20px;
  }
  .contenedorfooter .conteiner-columna .columna-2 {
    width: 100%;
    padding-bottom: 5px;
    margin-top: 15px;
  }
  .contenedorfooter .conteiner-columna .columna-2 .fila2 p {
    margin: 2px 0px 10px 0px;
    color: #f5d4d4;
    font-size: 20px;
  }
  .contenedorfooter .conteiner-columna .columna-3 {
    width: 100%;
  }
  .contenedorfooter .conteiner-columna .columna-3 .comentario {
    text-align: center;
    color: #f5d4d4;
    font-size: 12px;
  }
  .contenedorfooter .conteiner-columna .columna-3 h4 {
    font-size: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 401px) and (max-width: 960px) {
  .contenedorfooter .conteiner-columna .columna-1 h4 {
    font-size: 20px;
  }
  .contenedorfooter .conteiner-columna .columna-1 .fila label {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
  }
  .contenedorfooter .conteiner-columna .columna-1 .fila img {
    width: 17px;
    height: 17px;
  }
  .contenedorfooter .conteiner-columna .columna-2 .fila2 p {
    font-size: 12px;
  }
  .contenedorfooter .conteiner-columna .columna-2 h4 {
    font-size: 20px;
  }
  .contenedorfooter .conteiner-columna .columna-3 .comentario {
    text-align: center;
    font-size: 10px;
  }
  .contenedorfooter .conteiner-columna .columna-3 h4 {
    font-size: 20px;
  }
}

/* fin de footer */
/* inicio de section entradas */
.sectionentradas {
  padding-top: 300px;
}
.sectionentradas img {
  width: 500px;
  height: 300px;
  border-radius: 50px;
}

.containerentrada {
  width: 100%;
  margin-bottom: 200px;
}
.containerentrada h2 {
  font-size: 50px;
  text-align: center;
  font-family: "Pacifico", cursive;
  color: burlywood;
}

.container-e-img-p-1-3-5 {
  display: flex;
  align-items: center;
}

.parrafoentradas-1-3-5 {
  color: rgba(242, 234, 234, 0.959);
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  margin-left: 15px;
  font-family: "Prompt", sans-serif;
}

.container-e-img-p-2-4 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 30px;
}

.parrafoentradas-2-4 {
  font-weight: 600;
  border-radius: 10px;
  color: rgba(242, 234, 234, 0.959);
  padding: 10px;
  font-size: 15px;
  margin-right: 15px;
  font-family: "Prompt", sans-serif;
}

/* Aplicacion de @media Querin  al link de Entradas*/
@media screen and (max-width: 400px) {
  .containerentrada {
    width: 100%;
    margin-bottom: 20px;
  }

  .sectionentradas {
    padding-top: 150px;
  }

  .sectionentradas img {
    width: 300px;
    height: 260px;
    border-radius: 50px;
    margin-bottom: 10px;
  }

  .container-e-img-p-1-3-5 {
    display: block;
    text-align: center;
  }

  .parrafoentradas-1-3-5 {
    margin-left: 0;
    padding: 10px;
    text-align: none;
  }

  .container-e-img-p-2-4 {
    display: block;
    text-align: center;
    margin: 0;
  }

  .parrafoentradas-2-4 {
    margin: 0;
    padding: 10px;
    text-align: none;
  }

  .containerentrada h2 {
    font-size: 35px;
    text-align: center;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 401px) and (max-width: 960px) {
  .sectionentradas {
    padding-top: 200px;
  }

  .sectionentradas img {
    width: 350px;
    height: 300px;
  }

  .containerentrada {
    width: 100%;
    margin-bottom: 100px;
  }

  .container-e-img-p-1-3-5 {
    margin: auto;
    display: block;
    width: 100%;
    border-radius: 10px;
  }

  .container-e-img-p-1-3-5 img {
    float: left;
    margin: 15px;
  }

  .parrafoentradas-1-3-5 {
    padding: 5px;
    font-size: 17px;
    margin: 15px;
  }

  .container-e-img-p-2-4 {
    display: block;
    width: 100%;
    margin: auto;
  }

  .container-e-img-p-2-4 img {
    float: left;
    margin: 15px;
  }

  .parrafoentradas-2-4 {
    margin: 15px;
    font-size: 17px;
    padding: 5px;
  }
}
/* Fin de Entradas */
/* variables */
/* colores header */
/*  color footer */
/*  color web inicio */
/*  color web entradas */
/* colores web platos principales */
/* colores web postres */
/* colores web galeria */
/* link pagina platos principales */
.contenidoweb2 {
  padding-top: 200px;
}
.contenidoweb2 .cont-i-t-p {
  text-align: center;
}
.contenidoweb2 .imagenweb2 {
  margin: 40px 40px;
  width: 80%;
  border-radius: 50px;
  height: 500px;
  box-shadow: 8px 10px 10px #909090;
  object-fit: cover;
  transition-duration: 0.3s;
}
.contenidoweb2 .imagenweb2:hover {
  transform: scale(1.1);
}
.contenidoweb2 .h3subtitulo {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  color: #4d2e0f;
  margin-bottom: 20px;
}
.contenidoweb2 .parrafo {
  color: rgba(7, 7, 7, 0.959);
  margin-bottom: 50px;
  text-align: justify;
  margin: 20px;
  border-radius: 10px;
  background-color: rgba(247, 244, 239, 0.66);
  padding: 20px;
  font-size: 20px;
  padding-top: 20px;
  font-family: "Prompt", sans-serif;
}

@media screen and (max-width: 400px) {
  .contenidoweb2 {
    padding-top: 100px;
  }
  .contenidoweb2 .imagenweb2 {
    width: 250px;
    border-radius: 30px;
    height: 250px;
    box-shadow: 8px 10px 10px #909090;
    transition-duration: 0.3s;
  }
  .contenidoweb2 .parrafo {
    font-size: 15px;
    padding-top: 15px;
  }
}
@media screen and (min-width: 401px) and (max-width: 960px) {
  .contenidoweb2 {
    padding-top: 150px;
  }
  .contenidoweb2 .imagenweb2 {
    border-radius: 30px;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 8px 10px 10px #909090;
  }
}
/* Fin de Plato princiapl */
/* Link pagina postres */
.sectionpostres {
  padding-top: 300px;
}
.sectionpostres img {
  width: 500px;
  height: 330px;
  border-radius: 50px;
}

.conteinerpostre {
  width: 100%;
  margin-bottom: 200px;
}
.conteinerpostre h2 {
  font-size: 50px;
  text-align: center;
  font-family: "Pacifico", cursive;
  color: burlywood;
}

.conteiner-img-p-1-3-5 {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.parrafopostres-1-3-5 {
  color: rgba(242, 234, 234, 0.959);
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  margin-left: 15px;
  font-family: "Prompt", sans-serif;
}

.conteiner-img-p-2-4 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 30px;
}

.parrafopostres2-4 {
  color: rgba(242, 234, 234, 0.959);
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  margin-right: 15px;
  font-family: "Prompt", sans-serif;
}

/* media query de link postre */
@media screen and (max-width: 400px) {
  .conteinerpostre {
    width: 100%;
    margin-bottom: 70px;
  }

  .sectionpostres {
    padding-top: 150px;
  }

  .sectionpostres img {
    width: 300px;
    height: 260px;
    border-radius: 50px;
    margin-bottom: 10px;
  }

  .conteiner-img-p-1-3-5 {
    display: block;
    text-align: center;
  }

  .parrafopostres-1-3-5 {
    margin-left: 0;
    padding: 10px;
    text-align: left;
  }

  .conteiner-img-p-2-4 {
    display: block;
    text-align: center;
  }

  .parrafopostres2-4 {
    margin-right: 0;
    padding: 10px;
    text-align: left;
  }

  .conteinerpostre h2 {
    font-size: 35px;
    text-align: center;
  }
}
@media screen and (min-width: 401px) and (max-width: 896px) {
  .sectionpostres {
    padding-top: 200px;
  }

  .sectionpostres img {
    width: 350px;
    height: 300px;
  }

  .conteinerpostre {
    width: 100%;
    margin-bottom: 100px;
  }

  .conteiner-img-p-1-3-5 {
    margin: auto;
    display: block;
    width: 100%;
    border-radius: 10px;
  }

  .conteiner-img-p-1-3-5 img {
    float: left;
    margin: 15px;
  }

  .parrafopostres-1-3-5 {
    padding: 5px;
    font-size: 17px;
    margin: 15px;
    font-family: "Prompt", sans-serif;
  }

  .conteiner-img-p-2-4 {
    margin: auto;
    display: block;
    width: 100%;
    border-radius: 10px;
  }

  .conteiner-img-p-2-4 img {
    float: left;
    margin: 15px;
  }

  .parrafopostres2-4 {
    padding: 5px;
    font-size: 17px;
    margin: 15px;
  }
}
/* Fin de Postres */
/* Inicio de galeria */
.header-galeria {
  margin-top: -170px;
}

.carousel-inner {
  margin-top: 170px;
}
.carousel-inner img {
  width: 100vh;
  height: 85vh;
}

.carousel-caption h5 {
  font-size: 70px;
  color: #1a0101;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  padding-bottom: 20px;
  text-shadow: 5px 5px 8px #c7b6b6;
  text-decoration: underline;
  font-family: "Satisfy", cursive;
}

/* Fin de Galeria */
/* fonde de la pagina */
body {
  background-image: url(../Imagenes/fonfo3.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.capa {
  background-color: #282c34d2;
}

/* resetear los los bordes */
* {
  margin: 0px;
  padding: 0px;
}

/* centrar pagina web */
.wrapper {
  width: 95%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
