@import "componentes/header";
@import "componentes/inicio";
@import "componentes/footer";
@import "componentes/entradas";
@import "componentes/plato";
@import "componentes/postres";
@import "componentes/galeria";


/* fonde de la pagina */

body {
   
    background-image: url(../Imagenes/fonfo3.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}
.capa {
    background-color: #282c34d2;
    
}
/* resetear los los bordes */
* {
    margin: 0px;
    padding: 0px;
}
 /* centrar pagina web */
 .wrapper {
    width: 95%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}