 /* colores header */
 $header-conteiner:rgba(0, 0, 0, 0.77);
 $header-titulo:burlywood;
 $header-navbar:linen;
 $header-logo:linen;

 /*  color footer */

 $footer-conteiner:rgba(0, 0, 0, 0.872);
 $footer-h4:rgb(242, 228, 228);
 $footer-lebel:rgb(245, 212, 212);

 /*  color web inicio */
 $web0-h2:burlywood;
 $web0-h3: rgb(199, 163, 126);
 $web0-parrafo:white;
 $web0-img-border:#909090;

 /*  color web entradas */
 $web1-h2:burlywood;
 $web1-parrafo:rgba(242, 234, 234, 0.959);


 /* colores web platos principales */
 $web2-h3:burlywood;
 $web2-img-border:#909090;
 $web2-parrafo:white;



 /* colores web postres */
 $web3-h2:burlywood;
 $web3-parrafo:rgba(242, 234, 234, 0.959);;
 /* colores web galeria */
 $web4-h5:rgb(223, 160, 23);
 $web4-shadow:rgb(199, 182, 182)

