 /* colores header */
 $header-conteiner:rgba(0, 0, 0, 0.77);
 $header-titulo:burlywood;
 $header-navbar:linen;
 $header-logo:linen;

 /*  color footer */

 $footer-conteiner:rgba(0, 0, 0, 0.872);
 $footer-h4:rgb(242, 228, 228);
 $footer-lebel:rgb(245, 212, 212);

 /*  color web inicio */
 $web0-h3: rgb(77, 46, 15);
 $web0-cont-parrafo:rgba(247, 244, 239, 0.66);
 $web0-parrafo:rgba(7, 7, 7, 0.959);
 $web0-img-border:#909090;

 /*  color web entradas */
 $web1-h2:rgb(77, 46, 15);
 $web1-cont-parrafo:rgba(247, 244, 239, 0.66);
 $web1-cont-pi:rgb(247, 244, 239);


 /* colores web platos principales */
 $web2-h3:rgb(77, 46, 15);
 $web2-img-border:#909090;
 $web2_cont-parrafo:rgba(247, 244, 239, 0.66);
 $web2-parrafo:rgba(7, 7, 7, 0.959);

 /* colores web postres */
 $web3-h2:rgb(77, 46, 15);
 $web3-cont-parrafo:rgba(247, 244, 239, 0.66);
 $web3-cont-pi:rgb(247, 244, 239);

 /* colores web galeria */
 $web4-h5:rgb(26, 1, 1);
 $web4-shadow:rgb(199, 182, 182)

