/* inicio de section entradas */

.sectionentradas{
    padding-top: 300px;

    img {
        width: 500px;
        height: 300px;
        border-radius: 50px;  
    }
}
    .containerentrada{
        width: 100%;
        margin-bottom: 200px;

        h2{
          font-size: 50px;
          text-align: center;
          font-family: 'Pacifico', cursive;
          color:$web1-h2;
        }
    }

    .container-e-img-p-1-3-5{
        display: flex;
        align-items: center;   
    }

    .parrafoentradas-1-3-5{
        color: $web1-parrafo ;
        font-weight: 600;
        border-radius: 10px;       
        padding: 10px;
        font-size: 15px;
        margin-left: 15px;
        font-family: 'Prompt', sans-serif;
    }


    .container-e-img-p-2-4{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin-top: 30px;
    }

    .parrafoentradas-2-4{
        font-weight: 600;
        border-radius: 10px;
        color: $web1-parrafo ;
        padding: 10px;
        font-size: 15px;
        margin-right: 15px;
        font-family: 'Prompt', sans-serif;  
    }

   

/* Aplicacion de @media Querin  al link de Entradas*/
  @media  screen and (max-width: 400px){

    .containerentrada{
        width: 100%;
        margin-bottom: 20px;     
    }
   
    .sectionentradas{
        padding-top:150px;
   
    }
    .sectionentradas img{
        width: 250px;
        height: 200px;
        border-radius: 50px; 
        margin-bottom: 10px; 
    }
    .container-e-img-p-1-3-5{
        display: block;
        text-align: center;
    }
    .parrafoentradas-1-3-5{
        margin-left: 0;
        padding: 10px;
        text-align:none;
    }
    .container-e-img-p-2-4{
        display: block;
        text-align: center;
        margin: 0;
    }
    .parrafoentradas-2-4{
        margin: 0;
        padding: 10px;
        text-align: none;
    }
    .containerentrada h2{
        font-size: 30px;
        text-align: center;
        padding-bottom: 20px;
    }
   
 }
  @media  screen and (min-width: 401px) and (max-width:960px){

    .sectionentradas{
        padding-top:200px;
   
    }
    
    .sectionentradas img {
        width: 350px;
        height: 300px;
              
    }
    .containerentrada{
        width: 100%;
        margin-bottom: 100px;     
    }
 
    .container-e-img-p-1-3-5{
        margin: auto;
        display: block;  
        width: 100%; 
        border-radius: 10px;
         
    }
    .container-e-img-p-1-3-5 img {
        float: left;
        margin: 15px;    
    }
    .parrafoentradas-1-3-5{
        padding: 5px;
        font-size: 17px;
        margin:15px;
    }
    .container-e-img-p-2-4{
        display: block;
        width: 100%;
        margin: auto;
    }
    .container-e-img-p-2-4 img{
        float: left;
        margin: 15px;
    }
    .parrafoentradas-2-4{
        margin:15px;
        font-size: 17px;
        padding: 5px;
    }    
 }
/* Fin de Entradas */
