
 /* inicio footer */
   .contenedorfooter{
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    background-color:  $footer-conteiner;

    

     .conteiner-columna{
      display: flex;
      justify-content: space-around;
            
      .columna-1{       
        width: 100%;
        text-align: center;  

        h4 {
         font-size: 30px;
         text-decoration: underline;
         color: $footer-h4;         
        }
        .fila{
          margin-top:20px ;
          display: flex;
          justify-content: center;
    
          img{
            width: 30px;
            height: 30px;
            border-radius: 100%;
          }
          label {
            margin-left: 10px;
            color: $footer-lebel;                 
          }               
        }              
            
      }
      .columna-2{     
        width: 100%;
        text-align: center;

        h4{
         font-size: 30px;
         text-decoration:underline;
         color: $footer-h4;
        }
        .fila2 p{
         margin-top: 25px;
         color: $footer-lebel;
         font-size: 20px;
        }
               
      }
      .columna-3 {
        width: 100%;
        text-align: center;

        h4{
          font-size:30px;
          text-decoration: underline;
          color: $footer-h4;
        }
                
        .comentario {
          text-align: center;
          margin-top: 20px;
         font-size: 15px;
          color:  $footer-lebel;
        }
      }
    }  
    @media  screen and (max-width: 400px) {

     .conteiner-columna {    
      display: block;

    
       .columna-1 h4 {
        font-size: 20px;           
        padding-bottom: 10px;
        padding-left: 10px;
        text-align: left;
       }
       .cont-fila {
         display: flex;
         
       }
       .fila label {
         display: none;
       }
       .fila img{  
        margin-left: 10px; 
        width: 25px;
        height: 25px;
       
       }
       .columna-2 h4{
        font-size: 20px; 
        text-align: left;
        padding-left: 10px;     
       }
    
       .columna-2{
        width: 100%;
        padding-bottom: 5px;
        margin-top: 15px;
        .fila2 p{
          margin: 2px 0px 10px 0px;
          color: $footer-lebel;
          font-size: 15px;
          text-align: left;
          padding-left: 10px;
         }
       }
       .columna-3{
        width: 100%;
        
        .comentario {
          padding-left: 10px;
          text-align:left;
          color:  $footer-lebel;
          font-size: 12px;
         }
        
       }
       .columna-3 h4{
         padding-left: 10px;
        font-size: 20px;     
        text-align:left;      
       }          
     }             
   }
   /* Medias Query Tablet */   
   @media  screen and (min-width: 401px) and (max-width:960px){
     
    .conteiner-columna {
      
     .columna-1{     

         h4 {
          font-size:20px;
        }
        .fila label {
          margin-top: 5px;
          margin-left: 5px;
          font-size: 12px;     
        }
        .fila img{
          width: 17px;
          height: 17px;
         }
        
     }
     
     .columna-2{
        
         .fila2 p{
          font-size: 12px;
          
      }
          
     }
     .columna-2 h4 {
         font-size: 20px;
     }  
     .columna-3{
               
        .comentario {
          text-align: center;       
          font-size: 10px;         
        }
      }
     .columna-3 h4 {
         font-size: 20px;
     }
          
   }
      
  }  
 }   
/* fin de footer */

