/* Inicio de galeria */

.header-galeria {
    margin-top: -170px;
}
.carousel-inner{
    margin-top: 170px;


    img{
      width: 100vh;
      height: 85vh;
 }
}
.carousel-caption h5{
    font-size: 70px;
    color: $web4-h5;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    padding-bottom: 20px;
    text-shadow: 5px 5px 8px $web4-shadow;
    text-decoration: underline;
    font-family: 'Satisfy', cursive;
    
}
/* Fin de Galeria */