/* variables */
@import "../bases/variables";

/* inicio de Navber */
header{
    position: fixed;
    z-index:1000;
    width: 100%;
    background-color: $header-conteiner;

    .titulo h1{
        font-family: 'Pacifico', cursive;
        color: $header-titulo;
        padding-top: 5px;
    }
    
    .logo h2{
        font-weight:bold;
        color: $header-logo;
        letter-spacing: 10px;
        padding-right: 20px;
        padding-top: 10px;
        font-size: 40px;
        margin: 0;
    }
       .mi-button{
        color:linen;
       
    }
     .ul-mia{ 
         padding-top: 15PX;      
        margin-left: auto;
    }
    .ul-mia li a {
        width: max-content;     
        font-size: 19px;
        color: $header-navbar;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        &:hover{
            background-color: rgba(215, 198, 198, 0.311);
            border-radius: 10px;
            color: linen;
            transition: 1s;
        }
    }
    @media  screen and (max-width: 400px) {
        .titulo h1{
            font-family: 'Pacifico', cursive;
            color: $header-titulo;
            padding-top: 10px;
        }
        .logo h2{
            font-weight:bold;
            color: $header-logo;
            letter-spacing: 5px;
            font-size: 23px;
           
        }
        .ul-mia{
            width: max-content;
            float:left;  
               
        }
        .ul-mia li a {
            font-size: 15px;
            color:$header-navbar;

           
        }
    }
    @media  screen and (min-width: 401px) and (max-width:960px){
        header{
            position: fixed;
            z-index:1000;
            width: 100%;
            background-color: $header-conteiner;
            

          
        }
        .titulo h1{
            font-family: 'Pacifico', cursive;
            color: $header-titulo;
            padding-top: 13px;
        }
        .ul-mia{
            width: max-content;
            float:left;
        }
      
        
        .ul-mia li a {
            font-size: 15px;
            color:$header-navbar;
        }
        .ul-mia a:hover{
            background-color: rgba(215, 198, 198, 0.311);
            border-radius: 10px;
            color: linen;
            transition: 1s;
        }
        .logo h2{
            font-weight:bold;
            color: $header-logo;
            letter-spacing: 5px;
            padding-top: 15px;
            font-size: 15px;
            height: 40px;
           
        }
    
    }
}
.navbar-white{
   color:  white;
}

/* fin de Navber */