

/* Inicio de section pagina Home */
.container1{  
    padding-top: 250px;
    padding-bottom: 100px; 
}
.container-web1{
    display:flex;    
}
.container-item{
    width: 100%;
    margin-left: 50px;

}
.video{
    width: 100%;
    height: auto;
    margin: auto;
}
.container-titulo-p{
    width: 100%; 
    margin: auto;
    text-align: center;
   

    h3{
        margin: auto;
        text-align: center;      
        color: $web0-h3; 
        font-family:$font-h3-h4;
        font-size: 55px;
        width: 50%;
        transition: all 3s ease-in-out;

        &:hover{
          transform: rotatey(360deg);
         
        }

    }
    p{
        text-align: justify;
        margin: auto;
        width: 70%;
        color: $web0-parrafo ;
        font-size: 17px;
    }
    p::first-letter{
        font-size: 40px;
        padding-right: 5px;
    }
}

.contenidoweb1{
    padding-top: 143px;
    text-align: center;

    h2{
        color: $web0-h2;
        font-size: 60px;
        margin-bottom: 10px;
        text-decoration: underline;
        font-family: $font-titulos;
    }
       
}    
    
     .h4subtitulo {
        font-size: 50px;
        color: $web0-h3;
        margin: 20px 20px;
        text-align:justify; 
        padding-left: 20px;
        font-family:$font-h3-h4;

    } 

    .parrafo {
        color:$web0-parrafo;     
        text-align: justify;
        margin:20px;
        border-radius: 10px;      
        padding: 20px;
        font-size: 20px;      
        font-family: 'Prompt', sans-serif;
    } 
     .imagenweb1 { 
        width: 60%;
        border-radius: 50px;
        height: 400px;
        margin: 40px 0px;
        object-fit: cover;
        box-shadow: 8px 10px 10px $web0-img-border;
    }
 /* Medias Query Mobil */
    @media  screen and (max-width: 400px){
        .container1{  
            padding-top: 120px;
            padding-bottom: 15px;         
        }
        .container-web1{
            display:block;                   
        }
        .container-item{
            width: 90%;
            height: 200px;
            margin:auto;
            text-align: center;

            .video {
                width: 90%;
                height: 200px;
                margin:auto;
            }
     
        }
        .container-titulo-p{   
            margin: 20px 0px;      
            height: auto;                   
            h3{
                margin: auto;
                font-size: 35px;
                width: 60%;        
            }
            p{
                margin: auto;
               
                font-size: 20px;
            }
            p::first-letter{
                font-size: 40px;
                padding-right: 5px;
            }
        }      
        .contenidoweb1{
            padding-top: 0px;
        
            h2{
                font-size: 45px;
                margin-bottom: 20px;   
            }             
        } 
        .imagenweb1 {      
            width: 250px;
            height: 200px;
            margin-top: 10px;
            margin-bottom: 10px;
        }   
        .h4subtitulo {
            font-size: 30px;
            padding-top: 20px;
            text-align: left; 
            padding-left: 30px;
            margin: 0; 
        } 
        .parrafo {         
            font-size: 15px;
            margin: 0px 10px;
            padding: 10px 25px;
        } 
    }

  /* Medias Query Tablet */ 
    @media  screen and (min-width: 401px) and (max-width:960px){
        .container1{  
            padding-top: 150px;
            padding-bottom: 30px;         
        }
        .container-web1{
            display:block;                     
        }
        .container-item{
            width: auto;
            margin:0px 30px;
            padding: 0;
            text-align: center;

        .video {
                width: 100%;
                height: auto;
                margin:auto;
            }
        }
        .container-titulo-p{  
            padding-top: 0px;  
            margin: 50px 0px;

            h3{
                margin: auto;
                font-size: 45px;
                width: 60%;        
            }
            p{
                margin: auto;
                font-size: 20px;
            }
            p::first-letter{
                font-size: 40px;
                padding-right: 5px;
            }
        }
        .contenidoweb1{
            padding-top: 0px;

            h2{           
                font-size: 40px;
                margin-bottom: 10px;
                       
            }
               
        } 
        .imagenweb1 {      
            width: 50%;
            height: 330px;
            margin-top: 10px;
            margin-bottom: 10px;
        }      
            
             .h3subtitulo {
                font-size: 50px;
                margin:auto;
                text-align: left; 
             
            } 
            .parrafo {          
                margin:auto;
                padding: 20px; 
                font-size: 15px ;                                     
          
            } 
             
    }

/* Fin de section pagina Home */