/* variables */
@import "../bases/variables";

/* link pagina platos principales */
.contenidoweb2{
    padding-top: 200px;

    .cont-i-t-p{
        text-align: center;
    }

    .imagenweb2 {
        margin: 40px;
        width: 65%;
        border-radius: 50px;
        height: 450px;
        box-shadow: 8px 10px 10px $web2-img-border;
        object-fit: cover;
        transition-duration: 0.3s;   

        &:hover {
            transform: scale(1.1);
        }
    }
    .h3subtitulo {
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 60px;
        color: $web2-h3;
        margin: auto;
      /*   margin-bottom: 20px; */
        
    
    }
    .parrafo {
        color:$web2-parrafo;
        margin-bottom: 50px;
        text-align: justify;
        margin:20px;
        border-radius: 10px;
        background-color: $web2_cont-parrafo; 
        padding: 20px;
        font-size: 20px;
        padding-top: 20px;
        font-family: 'Prompt', sans-serif;
    }
   
   
}
@media  screen and (max-width: 400px){
    .contenidoweb2{
       padding-top: 100px;

       .imagenweb2 {       
        width: 250px;
        border-radius: 30px;
        height: 250px;      
        margin: 20px;  
     }
     .parrafo {
        font-size: 15px;
        padding-top: 0px;     
     }
     .h3subtitulo {
        font-size: 35px;
        margin: auto;
        padding-left: 20px;
        padding-top: 0px;
     }
               
    }
   

  
}
@media  screen and (min-width: 401px) and (max-width:960px){
    .contenidoweb2{
        padding-top: 150px;

        .imagenweb2 {          
            border-radius: 30px;
            height: 300px;
            margin-top: 30px;
            margin-bottom: 30px;
          
        }    
        .parrafo {
            font-size: 15px;
            padding-top: 0px;     
         }        
    } 
}
/* Fin de Plato princiapl */