/* Link pagina postres */

.sectionpostres{
    padding-top: 300px;
    
    img{
     width: 500px;
     height: 330px;
     border-radius: 50px;
    }
}
.conteinerpostre{
    width: 100%;
    margin-bottom: 200px;

    h2{
        font-size: 50px;
        text-align: center;
        font-family: 'Pacifico', cursive;
        color: $web3-h2;
    }
}
.conteiner-img-p-1-3-5{
    display: flex;   
    align-items:center;
    margin-top: 30px;    
}
.parrafopostres-1-3-5{
    color: $web3-parrafo;
    font-weight: 600;
    border-radius: 10px;  
    padding: 10px;
    font-size: 15px;
    margin-left: 15px;
    font-family: 'Prompt', sans-serif;
}
.conteiner-img-p-2-4{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 30px;
}
.parrafopostres2-4{
    color: $web3-parrafo;
    font-weight: 600;
    border-radius: 10px;
   
    padding: 10px;
    font-size: 15px;
    margin-right: 15px; 
    font-family: 'Prompt', sans-serif;
}

/* media query de link postre */
@media  screen and (max-width: 400px){
   
    .conteinerpostre{
        width: 100%;
        margin-bottom: 40px;
    }
    .sectionpostres{
        padding-top: 150px;
    }
    .sectionpostres img {
        width: 300px;
        height: 260px;
        border-radius: 50px;     
        margin-bottom: 10px;
    }
    .conteiner-img-p-1-3-5{
        display: block;
        text-align: center;   
    }
    .parrafopostres-1-3-5{
           margin-left: 0; 
           padding: 10px; 
           text-align: left;   
    } 
    .conteiner-img-p-2-4{
        display: block;
        text-align: center;        
    }
    .parrafopostres2-4{
        margin-right: 0; 
        padding: 10px; 
        text-align: left;   
    } 
    .conteinerpostre h2{
        font-size: 35px;
        text-align: center;
    }

}
 @media  screen and (min-width: 401px) and (max-width:896px){
    .sectionpostres{  
        padding-top: 200px;
    }
    .sectionpostres img {
        width: 350px;
        height: 300px;
    
    }
    .conteinerpostre{
        width: 100%;
        margin-bottom: 100px;
    }
    .conteiner-img-p-1-3-5{
        margin: auto;
        display: block;  
        width: 100%; 
        border-radius: 10px;
    }
    .conteiner-img-p-1-3-5 img {
        float: left;
        margin: 15px;    
    }
    .parrafopostres-1-3-5{
        padding: 5px;
        font-size: 17px;
        margin:15px;
        font-family: 'Prompt', sans-serif;
    }

    .conteiner-img-p-2-4 {
        margin: auto;
        display: block;
        width: 100%; 
        border-radius: 10px;      
    }
    .conteiner-img-p-2-4 img {
        float: left;
        margin: 15px;
    }
    .parrafopostres2-4{ 
        padding: 5px;
        font-size: 17px;
        margin: 15px;
  
    } 
}
/* Fin de Postres */

